.app-container {
  height: 100vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

h1,
h1:first-child {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.2rem;
  color: #2d7bcb;
  margin-top: inherit;
}

h2 {
  color: #21b4c1;
}

.preferences-container {
  width: 90%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #d4d4d4;
  border-radius: 15px;

  & > div {
    border-right: 1px solid #d4d4d4;
  }

  & > div:last-child {
    border: none;
  }
}

.plan-cards-box {
  margin-top: 30px;
}
